.btnRed{
    border : 2px solid #EB0000;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    color: #EB0000;
    transition: 0.3s;
    text-align: center;
    text-decoration: none;
}
.btnRed:hover, .btnRed:focus{
    background-color: #EB00001a;
    box-shadow: inset 0 0 5px 1px #EB0000;
    text-shadow: 0 0 5px #EB0000;
}