/* Ajout de la police PT Sans */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
body {
  font-family: 'PT Sans', serif;
}
/* Style du header */
.header {
  background-color: #FFFBE1;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 6px 4px #00000085;
    position: relative;
}
/* Style du logo La boîte à films */
.header img{
  width: 400px;
  display: block;
  margin:auto; 
}
/* Style du footer */
.footer {
  background-color: #000;
  height: 90px;
  display: flex;
  justify-content: center;
}
.footer>div {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  color: white;
}
/* Style du logo TMDB */
.footer img{
  width: 400px
}
/* Style du Copyright */
.footer p{
  margin: 10px 0 0 auto;
  font-size: 14px;
  color: #4c4c4c;
}
/* Ajustement pour la version mobile */ 
@media screen and (max-width: 640px){
  .header{    
    height: 150px;
  }
  .header img{
    width: 250px;
  }
  .footer img{
    width: 250px
  }
}